body {
    font-size: 1.6rem;
    scroll-behavior: smooth;
    text-decoration: none !important;
    list-style: none !important;
}

#header .col {
    margin: 0 !important;
}

#footer .col {
    margin: 0 !important;
}

.container {
    margin-top: 80px;
}

.f-16 {
    font-size: 1.6rem;
}

.h5, h5 {
    font-size: 1.6rem;
}

.btn {
    font-size: 1.2rem;
}

.f-12 {
    font-size: 1.65rem;
}

.shadow-around {
    border-top: 3px solid grey;
}

.checkout {
    margin-left: 100px;
}

.mgl-c {
    font-size: 1.8rem;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul ul {
    padding-left: 20px;
}

a {
    outline: none !important;
    text-decoration: none !important;
}

a.disabled {
    pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-weight: 400;
    font-family: 'montserrat', sans-serif;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.btn-product-slider.style {
    top: 54px;
}

.btn-product-slider.btn-pre {
    right: 55px;
}

.btn-product-slider.btn-nxt {
    right: 15px;
}

.btn-delete {
    padding: 10px 0;
    display: inline-block;
    min-width: 40px;
    text-align: center;
    background-color: #5fb7ea;
}

.btn-delete:hover {
    background-color: #ff688f;
}

.btn-cart {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    color: #616161;
    cursor: pointer;
}

.btn-cart:hover {
    text-decoration: none;
}

.btn-square {
    padding: 10px 0;
    display: inline-block;
    min-width: 40px;
    text-align: center;
}

.text-extralight {
    font-weight: 100 !important;
}

.text-light {
    font-weight: 300 !important;
}

.text-semibold {
    font-weight: 600 !important;
}

.text-bold {
    font-weight: 700 !important;
}

.text-extrabold {
    font-weight: 800 !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.table-head th {
    text-align: center !important;
    padding: 25px 0 !important;
}

.table-head th:nth-child(2) {
    text-align: left !important;
}

.table-body {
    background: #fff;
}

.table-body td {
    padding: 50px 0;
}

.cart-cal .table {
    margin-bottom: 0;
}

.cart-cal td {
    padding: 50px 0 !important;
}

.cart-cal h6 {
    font-size: 14px;
    color: #1a98e1;
    margin: 0;
    padding-bottom: 9px;
}

.cart-cal p {
    font-size: 12px;
    color: #757575;
}

.cart-cal span {
    font-weight: 600;
}

.quantity-control {
    position: relative !important;
    margin: 0 auto;
    max-width: 125px;
}

.quantity-control span.alert-msg {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: left;
    color: #ff4575;
    font-size: 10px;
    margin-top: 5px;
    font-weight: normal;
}

#table input {
    height: 41px;
    width: 130px !important;
    text-align: center;
    background: #fff;
    color: #616161;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 0 40px;
    font-size: 18px;
    margin: 0;
}

.quantity-control .btn-square {
    background: #e8e8e8;
    color: #9d9d9d;
}

.btn-minus {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    border-radius: 5px 0 0 5px;
}

.btn-plus {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
    border-radius: 0 5px 5px 0;
}

.cart-price {
    font-size: 24px;
}

.cart-action {
}

.cart-action li .fa {
    color: #fff;
    font-size: 16px;
}

.cart-action .style .fa {
    color: #616161;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
    border: none !important;
}

.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
}

/*=============================
break point 1024
===========================*/
/*=============================
break point 990
===========================*/
@media (max-width: 992px) {
    .cart-cal h6 {
        font-size: 12px;
    }

    .cart-price {
        font-size: 18px;
    }

    .cart-cal p {
        font-size: 10px;
    }

    .quantity-control input {
        height: 31px;
        width: 100px;
    }

    .btn-square {
        min-width: 35px;
        padding: 5px 0;
    }

    .quantity-control {
        max-width: 105px;
    }
}

/*=============================
break point 800
===========================*/
@media (max-width: 800px) {
    .xv-cart-top ul > li {
        display: block;
        margin: 5px;
    }
}

/*=============================
break point 767
===========================*/
@media (max-width: 767px) {
    .table-head th {
        padding: 15px 0 !important;
        font-size: 12px;
    }

    .cart-cal td {
        padding: 30px 0 !important;
    }
}

@media (max-width: 360px) {
    .btn {
        width: 100%;
    }

    .counter-wrapper > div {
        background: #323D43;
        height: 80px;
        width: 55px;
        padding: 6px 0;
    }

    .counter-wrapper #days, #hours, #minutes {
        font-size: 30px;
    }

    .cart-buttons > li {
        padding: 0;
    }

    .btn-square {
        min-width: 30px;
        padding: 5px 0;
    }
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.buttons-cart--inner {
    display: flex;
    justify-content: space-between;
}

.buttons-cart--inner {
    margin-bottom: 70px;
}

.buttons-cart a:hover {
    color: #c43b68
}

.buttons-cart a {
    background: #ebebeb none repeat scroll 0 0;
    color: #3f3f3f;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    height: 62px;
    line-height: 62px;
    padding: 0 45px;
    text-transform: uppercase;
    display: inline-block;
}

.ht__coupon__code {
    background: #ebebeb none repeat scroll 0 0;
    padding: 54px 70px;
}

.ht__coupon__code span {
    color: #3f3f3f;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.coupon__box {
    margin-top: 19px;
    position: relative;
}

.coupon__box input {
    background: #ffffff none repeat scroll 0 0;
    border: 0 none;
    height: 56px;
    padding: 0 30px;
}

.ht__cp__btn {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ht__cp__btn a {
    background: #015649 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 56px;
    line-height: 56px;
    padding: 0 27px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}

.ht__cp__btn a:hover {
    background: rgb(235, 235, 235);
    color: rgb(1, 86, 73);
}

.htc__cart__total h6 {
    background: #015649 none repeat scroll 0 0;
    font-size: 14px;
    font-weight: 500;
    height: 67px;
    line-height: 65px;
    padding: 0 32px;
    text-transform: uppercase;
    color: #fff;
}

.htc__cart__total {
    padding-left: 110px;
}

.cart__desk__list {
    display: flex;
    justify-content: space-between;
}

.cart__desc li {
    color: #3f3f3f;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.cart__desk__list {
    margin-bottom: 33px;
    margin-top: 38px;
}

.cart__desc li + li {
    padding-top: 18px;
}

.cart__price li + li {
    padding-top: 18px;
}

.cart__price li {
    color: #3f3f3f;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.cart__total {
    border-top: 1px solid #ebebeb;
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
}

.cart__total span {
    color: #3f3f3f;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.payment__btn {
    margin-top: 54px;
}

.payment__btn li a {
    background: #ebebeb none repeat scroll 0 0;
    color: #3f3f3f;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    height: 65px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}

.payment__btn li + li {
    margin-top: 15px;
}

.payment__btn li a:hover,
.payment__btn li.active a {
    background: #015649 none repeat scroll 0 0;
    color: #fff;
}

.payment__btn li.active a:hover {
    background: #ebebeb;
    color: #015649;
}

@media (min-width: 1365px) and (max-width: 1500px) {
    .htc__cart__total {
        padding-left: 70px;
    }
}

@media (max-width: 767px) {
    .buttons-cart a + a {
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 20px
    }

    .buttons-cart a:first-child {
        margin-top: 20px;
    }

    .ht__coupon__code {
        padding: 54px 10px;
    }

    .htc__cart__total {
        padding-left: 0px;
    }

    #footer {
        margin-left: 22px;
    }

    .buttons-cart--inner {
        display: block;
    }

    figure {
        width: 100px;
    }
}