.main {
    overflow: hidden;
}

/* Header */
.header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    height: var(--header-height);
    background-color: rgb(235, 235, 227);
}

.header-nav {
    font-size: 1.4rem;
    color: var(--text-color);
    min-height: var(--header-nav-min-height);
}

.header-nav__item {
    margin-top: 19px;
}

.header-nav__location {
    width: 84px;
    display: inline-block;
    color: var(--primary-color);
    position: relative;
    cursor: default;
    margin-left: 12px;
    z-index: 2;
}

.header-nav__location:hover .header-nav__areas-list {
    display: block;
}

.header-nav__location::before {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    right: -16px;
}

.header-nav__icon-down {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    right: -16px;
    transform: translateY(-46%);
}

.header-nav__areas-list {
    width: calc(100% + 20px);
    list-style: none;
    padding-left: 0;
    position: absolute;
    left: -4px;
    top: 2px;
    background-color: var(--white-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn linear 0.2s;
    display: none;
    cursor: pointer;
}

.header-nav__area-name {
    padding: 4px;
}

.header-nav__area-name:hover {
    color: var(--white-color);
    background-color: #c5901d;
}

.header-nav__info {
    margin: 0;
    text-align: center;
}

.header-nav__info-address {
    color: var(--primary-color);
    text-align: center;
}

.header-nav__logs-list {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.header-nav__log-item {
    flex: 1;
    text-align: center;
    position: relative;
}

.header-nav__log-item::before {
    content: "";
    display: block;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    border-left: 1px solid #c69a39;
}

.header-nav__log-item:nth-child(1)::before {
    display: none;
}

.header-nav__log-link {
    text-decoration: none;
    color: var(--text-color);
}

.header-nav__log-link:hover {
    color: var(--primary-color);
}

.header-with-search {
    background-color: rgb(1, 86, 73);
}

.header-with-search__wrap {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-logo__img {
    font-size: 3.6rem;
    background-position: 0 -42px;
    margin-right: 12px;
    color: var(--white-color);
    display: flex;
    align-items: center;
}

.header-search {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    padding: 9px 8px;
    border-radius: 4px;
}

.header-search__input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding: 0;
}

.header-search__icon {
    font-size: 2.2rem;
    padding-left: 4px;
    color: var(--primary-color);
    cursor: pointer;
}

.header-menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0 0 0 44px;
}

.header-menu__item {
    position: relative;
}

.header-menu__item::before {
    content: "";
    display: block;
    border-width: 10px;
    border-style: solid;
    border-color: var(--white-color) transparent transparent transparent;
    position: absolute;
    top: 7px;
    right: 40%;
    animation: runDown linear 0.4s;
    -webkit-animation: runDown linear 0.4s;
    -o-animation: runDown linear 0.4s;
    -moz-animation: runDown linear 0.4s;
    -ms-zoom-animation: runDown linear 0.4s;
    display: none;
}

@keyframes runDown {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-menu__item::after {
    content: "";
    display: block;
    border-top: 10px solid transparent;
    border-bottom: 5px solid var(--white-color);
    position: absolute;
    bottom: 0;
    right: 50%;
    left: 50%;
    transition: left linear 0.3s, right linear 0.3s;
    -moz-transition: left linear 0.3s, right linear 0.3s;
    -o-transition: left linear 0.3s, right linear 0.3s;
    -webkit-transition: left linear 0.3s, right linear 0.3s;
    -ms-transition: left linear 0.3s, right linear 0.3s;
}

.header-menu__item:hover::before {
    display: block;
}

.header-menu__item:hover::after {
    right: 0;
    left: 0;
}

.header-menu__item:hover .header-sub-menu {
    opacity: 1;
    transform: scale(1);
}

.header-menu__item-link {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    position: relative;
    padding: 24px 0 20px 0;
}

.header-menu__item-icon {
    font-size: 4rem;
    color: var(--white-color);
}

.header-menu__item-name {
    color: var(--white-color);
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    margin: 8px 0 0 0;
}

.header-sub-menu {
    position: absolute;
    left: -300%;
    width: 600px;
    background-color: var(--white-color);
    box-shadow: 0 1px 6px var(--primary-color);
    padding: 8px 20px;
    opacity: 0;
    transform: scale(0);
    transform-origin: top center;
    transition: transform linear 0.35s;
    -moz-transition: transform linear 0.35s;
    -ms-transition: transform linear 0.35s;
    -webkit-transition: transform linear 0.35s;
    -o-transition: transform linear 0.35s;
}

.header-sub-menu--m-size {
    width: 500px;
}

.header-sub-menu__title {
    color: rgb(231, 159, 0);
    font-size: 1.6rem;
    padding: 16px 4px 10px;
    margin: 0 0 4px;
    display: inline-block;
    border-bottom: 1px solid rgb(231, 159, 0);
}

.header-sub-menu__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.header-sub-menu__link {
    position: relative;
    left: 0;
    font-size: 1.4rem;
    display: block;
    padding: 8px 4px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    transition: left linear 0.2s;
    -o-transition: left linear 0.2s;
    -webkit-transition: left linear 0.2s;
    -moz-transition: left linear 0.2s;
    -ms-transition: left linear 0.2s;
}

.header-sub-menu__icon {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -16px;
    animation: fadeIn linear 0.2s;
    -moz-animation: fadeIn linear 0.2s;
    -webkit-animation: fadeIn linear 0.2s;
    -o-animation: fadeIn linear 0.2s;
    -ms-animation: fadeIn linear 0.2s;
}

.header-sub-menu__link:hover {
    left: 10px;
    color: var(--primary-color);
}

.header-sub-menu__link:hover .header-sub-menu__icon {
    display: block;
}

.header-sub-menu__ranking {
    text-align: center;
    padding: 8px 0;
}

.header-sub-menu__ranking-icon {
    font-size: 1.8rem;
}

.header-sub-menu__ranking-title {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 8px;
    color: rgb(231, 159, 0);
    text-decoration: none;
}

.header-mobile-search-box__wrap {
    display: flex;
    padding: 0 16px;
    height: 42px;
    align-items: center;
    background-color: var(--white-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
    will-change: transform;
    transition: transform linear 0.2s;
    -o-transition: transform linear 0.2s;
    -webkit-transition: transform linear 0.2s;
    -ms-transition: transform linear 0.2s;
    -moz-transition: transform linear 0.2s;
}

.header-mobile-search-box__input {
    font-size: 1.4rem;
    flex: 1;
    border: none;
    outline: none;
    margin-right: 8px;
    line-height: 3rem;
}

.header-mobile-search-box__btn {
    width: 56px;
    height: 30px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 3px;
    position: relative;
}

.header-mobile-search-box__btn::after {
    content: "";
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -8px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.header-mobile-search-box__icon {
    font-size: 1.2rem;
    color: var(--white-color);
}

.header-mobile-search-box__wrap.active {
    transform: translateY(42px);
}

/* Header Mobile */
.header-mobile-menu,
.header-mobile-search {
    display: none;
}

.header-mobile-menu__icon,
.header-mobile-search__icon {
    font-size: 3rem;
    color: var(--white-color);
    padding: 16px;
}

.header-mobile-nav.active {
    transform: translateX(0);
}

.header-mobile-nav__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.header-mobile-nav__overlay.active {
    z-index: 3;
    display: block;
}

.header-mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--nav-mobile-width);
    max-width: 100%;
    z-index: 5;
    transform: translateX(-100%);
    will-change: transform;
    transition: transform linear 0.3s;
    -o-transition: transform linear 0.3s;
    -moz-transition: transform linear 0.3s;
    -webkit-transition: transform linear 0.3s;
    -ms-transition: transform linear 0.3s;
}

.header-mobile-nav__heading {
    padding: 0 8px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #015649;
}

.header-mobile-nav__heading-link {
    text-decoration: none;
    background-color: transparent;
    display: flex;
    margin: 0 auto;
}

.header-mobile-nav__logo {
    transform: scale(0.8);
    transform-origin: left;
    background-position: 0 -42px;
    font-size: 4rem;
    color: var(--white-color);
    font-weight: 500;
}

.header-mobile-nav__logo1 {
    width: 230px;
    height: 44px;
    margin-bottom: 4px;
    transform: scale(0.9);
    transform-origin: left;
    /*background-image: url(/assets/img/logo3.png);*/
    background-position: center;
    
}

.header-mobile-nav__close {
    font-size: 2.4rem;
    color: var(--white-color);
    padding: 8px;
    margin-top: 4px;
    margin-right: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header-mobile-nav__list {
    cursor: pointer;
    height: 100%;
    margin: 0;
    padding-left: 0;
    background-color: var(--white-color);
    overflow-y: scroll;
    transition: height linear 0.3s;
    -webkit-transition: height linear 0.3s;
    -moz-transition: height linear 0.3s;
    -o-transition: height linear 0.3s;
    -ms-transition: height linear 0.3s;
}

.header-mobile-nav__list::-webkit-scrollbar {
    display: none;
}

.header-mobile-nav__item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    color: var(--text-color);
    cursor: pointer;
    user-select: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    transition: height linear 0.3s;
    -webkit-transition: height linear 0.3s;
    -o-transition: height linear 0.3s;
    -moz-transition: height linear 0.3s;
    -ms-transition: height linear 0.3s;
}

.header-mobile-sub-nav__list.active {
    height: calc(41px * var(--num-row));
}

.header-mobile-nav__item-select.active {
    color: #015649;
    font-weight: 600;
}


.header-mobile-nav__icon-open.active {
    transform: rotate(90deg) translateX(-50%);
}

.header-mobile-sub-nav__list {
    background-color: transparent;
    width: 100%;
    height: 0;
    max-height: calc(41px * 6);
    overflow-y: scroll;
    margin: 0;
    padding-left: 0;
    list-style: none;
    transition: height linear 0.3s;
    -moz-transition: height linear 0.3s;
    -o-transition: height linear 0.3s;
    -ms-transition: height linear 0.3s;
    -webkit-transition: height linear 0.3s;
}

.header-mobile-sub-nav__list::-webkit-scrollbar {
    display: none;
}

.header-mobile-sub-nav__item-link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 12px 40px;
    position: relative;
}

.header-mobile-sub-nav__item-link::after {
    content: "";
    position: absolute;
    right: 30px;
    left: 30px;
    top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.header-mobile-sub-nav__item-link:hover {
    color: #015649;
}

.header-mobile-nav__item-select {
    display: flex;
    position: relative;
    width: 100%;
    padding: 16px 20px;
    text-decoration: none;
    color: var(--text-color);
}

.header-mobile-nav__item-link {
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
    width: 100%;
    padding: 16px 20px;
}

.header-mobile-nav__icon-open {
    position: absolute;
    display: block;
    font-size: 2rem;
    top: 50%;
    right: 30px;
    font-size: 1.2rem;
    transform: rotate(0) translateY(-50%);
    transition: transform linear 0.3s;
    -moz-transition: transform linear 0.3s;
    -ms-transition: transform linear 0.3s;
    -moz-transition: transform linear 0.3s;
    -o-transition: transform linear 0.3s;
}

.header-logo__link {
    text-decoration: none;
    background-color: transparent;
}

.header-mobile-sub-nav__heading {
    padding: 12px 32px 12px 46px;
    font-size: 1.8rem;
    font-weight: 600;
    position: relative;
}

.header-mobile-sub-nav__btn-back {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    font-size: 1.8rem;
    padding: 8px;

}

.container {
    background-color: var(--white-color);
}

.container__item {
    padding-top: 10px;
}

.phone-banner__wrap {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.phone-banner__wrap:hover .phone-banner__btn-prev,
.phone-banner__wrap:hover .phone-banner__btn-next {
    display: flex;
    opacity: 0.85;
}

.phone-banner__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}

.banner--first {
    margin-left: 0%;
}

.phone-banner__list > a {
    transition: all linear 0.6s;
}

.banner__img {
    width: 100%;
}

.phone-banner-pagination {
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: flex;
    align-items: center;
}

.phone-banner-pagination__item {
    --size: 20px;
    margin: 0 2px;
    width: var(--size);
    height: var(--size);
    background-color: white;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    transition: all linear 0.1s;
}

.phone-banner-pagination__item:hover,
.phone-banner-pagination__item.active {
    background-color: var(--primary-color);
    border-color: white;
}

.phone-banner__btn-prev,
.phone-banner__btn-next {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: var(--white-color);
    position: absolute;
    font-size: 30px;
    transform: translateY(-50%);
    top: 50%;
    margin: 0 10px;
    cursor: pointer;
    transition: opacity linear 0.2s;
    opacity: 0;
}

.phone-banner__btn-next {
    right: 0;
}

.phone-banner__btn-prev:hover,
.phone-banner__btn-next:hover {
    opacity: 1 !important;
}

.container-nav {
    display: flex;
}

.container-nav__heading {
    margin-top: 22px;
    font-size: 1.6rem;
}

.container-nav__list {
    display: flex;
    flex: 1;
    max-width: 100%;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
    margin-left: 16px;
}

.container-nav__item {
    flex-shrink: 0;
}

.container-nav__item:hover {
    background-color: var(--primary-color);
    border-radius: 2px;
}

.container-nav__item:hover .container-nav__item-link {
    color: var(--white-color);
}

.container-nav__item-link {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--primary-color);
    padding: 12px 16px;
}

.container-filter__item {
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 8px;
    position: relative;
    user-select: none;
    margin-right: 8px;
}

.container-filter__icon-down {
    display: block;
    margin-left: 10px;
    margin-top: 1px;
}

.container-filter__item:hover .container-filter__list {
    display: block;
}

.container-filter__list {
    top: 100%;
    right: 0;
    left: 0;
    padding-left: 0;
    margin: 0;
    list-style: none;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
    background-color: var(--white-color);
    display: none;
    cursor: pointer;
    z-index: 1;
}

.container-filter__list-item {
    padding: 4px 8px;
}

.container-filter__list-item:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.container-product {
    padding-top: 8px;
}

.container-product__item {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.08);
    position: relative;
}

.container-product__item-heading {
    display: block;
    text-align: center;
    width: 100%;
    height: 188px;
    text-decoration: none;
    background-color: transparent;
    overflow: hidden;
    position: relative;
}

.container-product__item-heading.item-heading--s-size {
    margin-bottom: 6px;
    height: 82px;
}

.container-product__item-link {
    display: block;
    text-decoration: none;
}

.container-product__item-img {
    display: inline-block;
    height: 180px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.container-product__item-img.container-product__item-img--s-size {
    height: 80px;
    width: 80px;
}

.container-product__item-heading:hover .container-product-guarantee {
    opacity: 1;
}

.container-product__item-heading:hover ~ .container-product-marker__list {
    display: none;
}

.container-product__item-heading:hover .container-product-guarantee.container-product-guarantee--fix-unlock {
    transform: translateY(0);
}

.container-product-guarantee.container-product-guarantee--fix-unlock {
    opacity: 1;
    transition: transform linear 0.3s;
    transform-origin: top;
    transform: translateY(100%);
    background-color: rgba(224, 224, 224, 0.85);
    height: 188px;
}

.container-product-guarantee {
    background-color: rgba(255, 255, 255, 0.94);
    top: 0px;
    left: 0;
    right: 0;
    height: 180px;
    opacity: 0;
    transition: opacity linear 0.3s;
    will-change: opacity;
    position: absolute;
}

.container-product-guarantee__heading {
    display: flex;
    align-items: center;
    padding: 5px 10px 0 10px;
}

.container-product-guarantee__heading-img {
    background-color: var(--primary-color);
    height: 40px;
    padding: 3px 10px;
    border-radius: 2px;
}

.container-product-guarantee__heading-text {
    font-size: 1.6rem;
    margin: 0;
    padding-left: 8px;
    color: var(--primary-color);
}

.container-product-guarantee__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 24px;
}

.container-product-guarantee__item {
    text-align: left;
    color: var(--text-color);
    font-size: 1.2rem;
}

.container-product-guarantee__btn {
    display: block;
    text-decoration: none;
    color: var(--white-color);
    text-transform: uppercase;
    background-color: var(--primary-color);
    padding: 4px 12px;
    border-radius: 2px;
    position: absolute;
    left: 10px;
    bottom: 0;
}

.container-product__item-info {
    display: flex;
    height: 36px;
}

.container-product__item-wrap {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    padding: 10px;
    background-color: var(--white-color);
}

.container-product__item-name {
    display: block;
    flex: 1;
    margin: 0;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    max-height: 3.6rem;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.container-product__item-sale-icon {
    font-size:  3.5rem;
    padding: 0 10px;
}

.container-product__item-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.container-product__item-price {
    flex: 1;
    font-size: 1.4rem;
    font-weight: 600;
    color: #ff0000;
    line-height: 1.8rem;
    display: block;
}

.container-product__item-btn {
    color: var(--white-color);
    letter-spacing: 0.6px;
    font-size: 1.2rem;
    padding: 6px 16px;
    border: none;
    border-radius: 6px;
    background-image: linear-gradient(to bottom, #fa9308, #fa6f1c);
    text-decoration: none;
}

.container-product__item-gifts-list {
    padding: 0 10px;
    margin: 0;
    list-style: none;
}

.container-product__item-gift {
    font-size: 1.2rem;
    color: #818181;
    margin-bottom: 10px;
}

.container-product__item-gift--highlight {
    color: #ff0000;
}

.container-product-marker__list {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    left: 9px;
}

.container-product-marker__item {
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    width: 50px;
    height: 22px;
    border-radius: 3px;
    margin-bottom: 6px;
    color: var(--white-color);
}

.container-product-marker__list.active-marker--hot > .container-product-marker__item--hot {
    display: inline-flex;
}

.container-product-marker__list.active-marker--new > .container-product-marker__item--new {
    display: inline-flex;
}

.container-product-marker__item.container-product-marker__item--new {
    background-color: var(--primary-color);
    display: none;
}

.container-product-marker__item.container-product-marker__item--hot {
    background-color: #ff0000;
    display: none;
}

.container-view-more {
    display: flex;
    justify-content: center;
    padding: 18px 0;
}

.container-btn-extend {
    font-size: 1.8rem;
    font-weight: 600;
    width: 300px;
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--white-color);
    padding: 8px 0;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    text-align: center;
    transition: all linear 0.2s;
}

.container-btn-extend:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.container-new {
    margin-top: 12px;
    padding: 32px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.container-new__item {
    padding: 16px 12px;
}

.container-new__item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    color: var(--text-color);
}

.container-new__img {
    height: 84px;
}

.container-new__text {
    margin-left: 8px;
}

.container-new__text-heading {
    font-size: 1.6rem;
    margin: 0;
}

.container-new__text-disc {
    font-size: 1.4rem;
    line-height: 1.8rem;
    max-height: 6.2;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin: 10px 0 0;
}

/* Footer */
.footer {
    background-color: #fafafa;
}

.footer__heading {
    margin-top: 36px;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-color);
}

.footer__heading-icon {
    font-size: 2rem;
    margin-right: 6px;
    margin-bottom: 2px;
}

.footer-areas {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

.footer-area__item {
    margin-top: 18px;
}

.footer-area__heading {
    margin: 0;
    font-size: 1.5rem;
    color: var(--text-color);
}

.footer-places {
    list-style: none;
    padding-left: 0;
}

.footer-place__item {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--text-color);
}

.footer-place__item-link {
    text-decoration: none;
    color: var(--text-color);
}

.footer-place__item-link.footer-place__item-link--highlight {
    color: rgb(198, 154, 57);
}
    
.footer-policy__list {
    margin-top: 18px;
    padding-left: 0px;
    list-style: none;
}

.footer-policy__item {
    padding: 4px 0;
    position: relative;
}

.footer-policy__item::before {
    content: "";
    display: block;
    position: absolute;
    top: 46%;
    left: 6px;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #acacac;
}

.footer-policy__link {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-color);
    padding-left: 24px;
}

.footer-policy__link:hover {
    color: rgb(198, 154, 57);
}

.footer-mail {
    display: flex;
    margin-top: 18px;
}

.footer-mail__input {
    font-size: 1.3rem;
    width: 184px;
    height: 28px;
    padding: 6px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #bcbec0;
}

.footer-mail__btn {
    width: 56px;
    height: 28px;
    margin-left: 4px;
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
}

.footer-linked {
    margin-top: 32px;
}

.footer-linked__heading {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--primary-color);
    margin: 0;
}

.footer-associates {
    list-style: none;
    margin: 10px 0 0 0;
    padding-left: 0;
}

.footer-associate__item {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 4px 0;
}

.footer-associate__item:first-child {
    margin-left: 2px;
}

.footer-associate__icon {
    font-size: 2.4rem;
    margin-right: 8px;
}

.footer-associate__icon--facebook {
    color: #2a388f;
}

.footer-associate__icon--youtube {
    color: #ff0000;
}

.footer-associate__link {
    text-decoration: none;
    color: var(--text-color);
}

.footer-associate__link:hover {
    color: rgb(198, 154, 57);
}

.footer-certification,
.footer-power {
    width: 150px;
    height: 80px;
    background-image: url(https://mobilecity.vn/public/assets/img/all_icon.png);
}

.footer-certification {
    background-position: -154px -83px;
}

.footer-power {
    margin-top: 4px;
    background-position: 0 -83px;
}

.footer-text {
    margin-top: 10px;
    font-size: 1.4rem;
    padding: 16px 0;
    background-color: #e1e1e1;
    text-align: center;
}

.footer-nav-mobile__list {
    background-color: var(--white-color);
    width: 100%;
    list-style: none;
    padding-left: 0;
    margin: 0;
    position: fixed;
    bottom: -1px;
    right: 0;
    left: 0;
    z-index: 4;
    display: none;
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.04);
}

.footer-nav-mobile__item {
    flex: 1;
    text-align: center;
    padding: 8px 0;
}

.footer-nav-mobile__link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
}

.footer-nav-mobile__icon {
    font-size: 2.4rem;
    color:#015649;
}

.footer-nav-mobile__title {
    font-size: 1.2rem;
    color: var(--text-color);
}

.footer-nav-mobile__number {
    text-align: center;
    position: absolute;
    top: -4px;
    right: 2px;
    background-color: red;
    padding: 1px 7px;
    border-radius: 50%;
    color: var(--white-color);
}

.go-to-top {
    display: block;
    text-decoration: none;
    color: var(--white-color);
    position: fixed;
    bottom: 200px;
    right: 8px;
    background-color: var(--primary-color);
    padding: 8px;
    border-radius: 4px;
    transform: translateX(150%);
    z-index: 4;
    transition: transform linear 0.2s;
    -moz-transition: transform linear 0.2s;
    -o-transition: transform linear 0.2s;
    -ms-transition: transform linear 0.2s;
    -webkit-transition: transform linear 0.2s;
}

.go-to-top.active {
    transform: translateX(0);
}

.go-to-top__icon,
.go-to-chat__icon {
    font-size: 3rem;
}

.go-to-chat {
    display: block;
    position: fixed;
    bottom: 100px;
    right: 8px;
    padding: 8px;
    background-color: var(--white-color);
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    color: #017eff;
    z-index: 4;
}

.video1,
.video2 {
    width: 100%;
    height: 48%;
}